<ol>

<li>
   <p class="usb upgrade">Shut down the computer while leaving the USB stick plugged in.</p>
   <p class="mac-clone">Plug in the other Tails USB stick that you want to install from.</p>
</li>

<li>
   <p>Switch on the computer and immediately press-and-hold the
   <span class="keycap">Option</span> key (<span class="keycap">Alt</span> key) until a list of possible startup
   disks appears.</p>

   <p>[[!img install/inc/screenshots/mac_option_key.png link="no" alt="'Option' or 'alt' key in the bottom left of Mac keyboard"]]</p>
</li>

<li>
   <p>Choose the USB stick and press
   <span class="keycap">Enter</span>. The USB stick appears as an external hard
   disk and might be labeled <span class="guilabel">EFI Boot</span> or
   <span class="guilabel">Windows</span> like in the following screenshot:</p>

   <p>[[!img install/inc/screenshots/mac_startup_usb.png link="no" alt="Screen with the logo of an internal hard disk labeled 'Macintosh HD' and an external hard disk labelled 'Windows' (selected)"]]</p>

   <div class="bug">
   <p>If the USB stick does not appear in the list of possible startup
      disks:</p>
   <ol>
     <li>Make sure that you have [[verified your download of Tails|install/mac/usb-download]].</li>
     <li>Try installing again on the same USB stick.</li>
     <li>Try installing on a different USB stick.</li>
     <li>Try using the same USB stick to start on a different computer.<br/>
     If the same USB stick works on a different computer, please
     [[!toggle id="report-toggle-1" text="report the problem to our help desk"]].</li>
   </ol>
   </div>

</li>

[[!toggleable id="report-toggle-1" text="""
<span class="hide">[[!toggle id="report-toggle-1" text=""]]</span>

[[!inline pages="install/inc/steps/reporting.inline" raw="yes"]]

"""]]

<li><a id="startup-security"></a>

   <p>If your Mac displays the following error:</p>

   <pre>Security settings do not allow this Mac to use an external startup disk.</pre>

   <p>Then you have to change the settings of the <em>Startup
   Security Utility</em> of your Mac to authorize starting from Tails.</p>

   <p>To open <em>Startup Security Utility</em>:</p>

   <ol>

     <!-- Section copied from https://support.apple.com/en-us/HT208198 -->

     <li><p>Turn on your Mac, then press and hold <strong>Command(⌘)+R</strong>
     immediately after you see the Apple logo. Your Mac starts up from
     <a href="https://support.apple.com/kb/HT201314">macOS Recovery</a>.</p></li>

     <li><p>When you see the macOS <em>Utilities</em> window, choose
     <strong>Utilities&nbsp;▸ Startup Security Utility</strong> from the menu
     bar.</p></li>

     <li><p>When you are asked to authenticate, click <strong>Enter macOS
     Password</strong>, then choose an administrator account and enter its
     password.</p></li>

   </ol>

   <p>[[!img install/inc/screenshots/startup-security-utility.png link="no" alt="Startup Security Utility"]]</p>

   <p>In the <em>Startup Security Utility</em>:</p>

   <ul>

     <li><p>Choose <strong>No Security</strong> in the <strong>Secure
     Boot</strong> section.</p></li>

     <li><p>Choose <strong>Allow booting from external media</strong> in the
     <strong>External Boot</strong>.</p></li>

   </ul>

   <div class="tip">

   <p>To still protect your Mac from starting on untrusted external media, you
   can set a firmware password, available on macOS Mountain Lion or later. A
   firmware password prevents users who do not have the password from starting
   up from any media other than the designated startup disk.</p>

   <p><strong>If you forget your firmware password you will require an in-person
   service appointment with an Apple Store or Apple Authorized Service
   Provider.</strong></p>

   </div>

   <p>Read more on Apple Support about:</p>

   <ul>

     <li><a href="https://support.apple.com/en-us/HT208198">Startup Security Utility</a></li>
     <li><a href="https://support.apple.com/en-us/HT208330">Secure Boot</a></li>
     <li><a href="https://support.apple.com/en-us/HT204455">How to set a firmware password on your Mac</a></li>

   </ul>

</li>

<li>

   <p>If the computer starts on Tails, the Boot Loader
   appears and Tails starts automatically after 4 seconds.</p>

   <p>[[!img install/inc/screenshots/grub.png link="no" alt="Black screen ('GNU GRUB') with Tails logo and 2 options: 'Tails' and 'Tails (Troubleshooting Mode)'."]]</p>

   <p>The Boot Loader on Mac is always <em>GRUB</em>. It might be
   different on PC.</p>

   <div class="bug">
   <p>If your computer displays the Boot Loader
   but then fails to start on the USB stick, it might
   currently be impossible to start Tails on your Mac model.</p>
   <p>Please [[!toggle id="report-toggle" text="report the problem to our help desk"]].</p>
   </div>

</li>

</ol>

[[!toggleable id="report-toggle" text="""
<span class="hide">[[!toggle id="report-toggle" text=""]]</span>

[[!inline pages="install/inc/steps/reporting.inline" raw="yes"]]

"""]]
