<h3>Reporting the problem to our help desk</h3>

<p>Please send the following information to [[tails-support-private@boum.org]]:</p>

<ol>
  <li><p>Which version of Tails are you trying to start?</p></li>

  <li><p>How did you verify the USB image?</p></li>

  <li><p>What is the brand and model of your computer?</p></li>

  <li><p>What exactly happens when trying to start? Report the complete error
      message that appears on the screen, if any.</p></li>

  <li><p>What program did you use to install your USB stick?</p></li>

  <li><p>Does the USB stick start successfully on other computers? If so,
      what are the brands and models of those computers?</p></li>

  <li><p>Have you been able to successfully start another version of Tails
      on this computer before? If so, which version?</p></li>

</ol>

[[!inline pages="support/talk/languages.inline" raw="yes"]]
