[[!meta title="Kim"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="persona" rel="stylesheet" title=""]]

<div class="row">

  <p id="tag" class="col-sm-12">The Surveilled at Home</p>

  <ul id="bio" class="col-sm-12">
    <li>Is living in a very conservative family in the US</li>
    <li>Tried to come out as trans to their family but they don't accept them</li>
    <li>Uses Tails to contact LGBT+ groups and prepare another escape, this time to a safe house and for good</li>
  </ul>

</div>

<div class="row">

  <img src="https://git.tails.boum.org/ux/plain/personas/kim-medium.jpg" id="picture" class="col-sm-4 img-responsive">

  <div class="col-sm-8">

    <blockquote id="quote">
      I need to get out of here but I'm so scared. Will I make it safe? What will come next?
    </blockquote>

    <div id="primary">

      <h1>Primary goals</h1>
  
      <ul>
        <li>Hide information from their family</li>
        <li>Avoid raising suspicion</li>
        <li>Access sensitive information</li>
        <li>Use an untrusted computer</li>
      </ul>

    </div>

  </div>

</div>

<div class="row">

  <div id="technology" class="col-sm-4">

    <h1>Technology use</h1>

    <ul>
      <li>Can only install authorized apps on their phone because of parental control</li>
      <li>Uses the family computer for school assignments</li>
      <li>Chat with friends and family on social media</li>
    </ul>

  </div>

  <div id="threats" class="col-sm-4">

    <h1>Threats</h1>
    
    <ul>
      <li>Computers at home and school are monitored</li>
      <li>Has limited time on computers</li>
      <li>Parents can be violent</li>
      <li>School is keeping a close eye on them</li>
      <li>Has deuteranomaly</li>
    </ul>

  </div>

  <div id="objectives" class="col-sm-4">

    <h1>Objectives</h1>
    
    <ul>
      <li>Avoid monitoring from family and school</li>
      <li>Seek advice and solidarity online</li>
      <li>Contact local LGBT+ organizations</li>
      <li>Document abuses</li>
    </ul>

  </div>

</div>

<h1>Background information</h1>

<ul>
<li><a href="https://www.eff.org/deeplinks/2017/03/privacy-practice-not-just-policy-system-administrator-advocating-student-privacy">EFF: Privacy By Practice, Not Just By Policy: A System Administrator Advocating for Student Privacy</a></li>
<li><a href="https://mailman.boum.org/pipermail/tails-project/2017-March/000757.html">[Tails-project] Regarding USB sticks for domestic violence survivors</a></li>
<li><a href="http://williamsinstitute.law.ucla.edu/wp-content/uploads/Durso-Gates-LGBT-Homeless-Youth-Survey-July-2012.pdf">Laura Durso & Gary Gates: LGBT Youth Survey</a></li>
<li><a href="https://www.theguardian.com/society/2013/sep/04/safe-houses-sanctuary-lgbt-young-people">The Guardian: Safe houses offer sanctuary to LGBT youngsters in Manchester and London</a></li>
<li><a href="https://www.glaad.org/blog/north-philly-preparing-safe-house-lgbt-youth">GLAAD: North Philly preparing safe house for LGBT Youth</a></li>
<li><a href="http://www.net-orbit.com/school-network-monitoring.html">Net Orbit: School Network Monitoring](http://www.net-orbit.com/school-network-monitoring.html</a></li>
<li><a href="https://www.netnanny.com/">Net Nanny: Parental Control Software & Website Blocker</a></li>
<li><a href="https://www.mbreviews.com/pcwrt-router-review/">pcWRT Dual-Band Parental Control Router</a> has an option to block Tor</li>
<li><a href="https://us.norton.com/norton-family-premier/">Norton: Family Premier</a></li>
<li><a href="https://hackblossom.org/domestic-violence/">HackBlossom: DIY Cybersecurity for Domestic Violence</a></li>
</ul>
